<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand nav-link" routerLink="home" routerLinkActive="active"><h1>Rush</h1></a>
        <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 
          We can add d-none to the class= of something we don't want showing
          This could help when we need to start hiding buttons on specific pages.
        -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a routerLink="signup" routerLinkActive="active" class="nav-link" *ngIf="!isLoggedIn()">Sign Up</a>
            </li>
            <li class="nav-item " *ngIf="!isLoggedIn()">
              <a routerLink="login" routerLinkActive="active" class="nav-link">Login</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn()">
              <a routerLink="history" routerLinkActive="active" class="nav-link">Order History</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn()">
                <a routerLink="products" routerLinkActive="active" class="nav-link">Products</a>
              </li>
              <li class="nav-item" *ngIf="isLoggedIn()">
                <a routerLink="catering" routerLinkActive="active" class="nav-link">Catering</a>
              </li>
              <li class="nav-item" *ngIf="isLoggedIn()">
                <a routerLink="cart" routerLinkActive="active" class="nav-link">Cart</a>
              </li>
              <li class="nav-item" *ngIf="isLoggedIn()">
                <a [routerLink]="" (click)="clearCookies()" routerLinkActive="active" class="nav-link">Logout</a>
              </li>
          </ul>
        </div>
      </nav>
</header>

