<nav class="container no-gutter categories">
    <div class="category all col-lg-2 col-sm-3"><p>All</p></div>
    <div class="category cake col-lg-2 col-sm-3"><p>Cake</p></div>
    <div class="category pie col-lg-2 col-sm-3"><p>Pie</p></div>
    <div class="category pastry col-lg-2 col-sm-3"><p>Pastry</p></div>
    <div class="category frozen col-lg-2 col-sm-3"><p>Frozen</p></div>
</nav>

<p class="key col-10"><b>VG</b> = Vegan, <b>DF</b> = Dairy-Free, <b>NF</b> = Nut-Free, <b>GF</b> = Gluten-Free</p>

<app-products class="col-10"></app-products>

