<nav class="container no-gutter categories">
    <div class="category all col-lg-2 col-sm-3">All</div>
    <div class="category cake col-lg-2 col-sm-3">Cake</div>
    <div class="category pie col-lg-2 col-sm-3">Pie</div>
    <div class="category pastry col-lg-2 col-sm-3">Pastry</div>
    <div class="category frozen col-lg-2 col-sm-3">Frozen</div>
</nav>

<div class="container no-gutter">
    <section class="filter col-2">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="vegan">
            <label class="form-check-label" for="vegan">Vegan</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dairy-free">
            <label class="form-check-label" for="dairy-free">Dairy-Free</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="nut-free">
            <label class="form-check-label" for="nut-free">Nut-Free</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="gluten-free">
            <label class="form-check-label" for="gluten-free">Gluten-Free</label>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </section>
    <app-products class="col-10"></app-products>
</div>

<nav class="pagination" aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link">Previous</a></li>
      <li class="page-item"><a class="page-link">1</a></li>
      <li class="page-item"><a class="page-link">2</a></li>
      <li class="page-item"><a class="page-link">3</a></li>
      <li class="page-item"><a class="page-link">Next</a></li>
    </ul>
</nav>
