.container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
}

.container.categories{
    flex-wrap: wrap;
}

.category{
    height: 5vh;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin: 10px;
    font-weight: 800;
    font-size: 1.25rem;
}

.cake{
    background-image: url("https://rush-p2.s3.us-east-2.amazonaws.com/upload/Cover/cake-cover.jpg");
}

.pie{
    background-image: url("https://rush-p2.s3.us-east-2.amazonaws.com/upload/Cover/pie-cover.jpg");
}

.pastry{
    background-image: url("https://rush-p2.s3.us-east-2.amazonaws.com/upload/Cover/pastry-cover.jpg");
}

.frozen{
    background-image: url("https://rush-p2.s3.us-east-2.amazonaws.com/upload/Cover/frozen-cover.jpg");
}

.all{
    background-image: url("https://rush-p2.s3.us-east-2.amazonaws.com/upload/other/all.jpg");
    background-position: bottom;
}

.key{
    font-size: .8rem;
    text-align: right;
    margin-top: 20px;
}

/*product*/
.product{
    cursor: pointer;
    margin: 15px;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2{
    font-size: 1.25rem;
}

img{
    border-radius: 5px;
}

.dietr{
    font-size: .75rem;
    color: #696969;
}