.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}
.row.no-gutter{
    margin: 40px auto;
}

.price{
    text-align: right;
}

.nav-link{
    margin: 20px;
    color: #FF893D;
    cursor: pointer;
}

img{
    width:500px;
}

h1{
    font-size: 1.75rem;
}

h2{
    font-size: 1.5rem;
}
