<div class="main ">
    <span class="anchor" id="formPayment"></span>


<div class="card card-outline-secondary col-lg-6 col-md-7 offset-md-3">
    <div class="card-body">
        <h3 class="text-center">Create Account</h3>
        <hr>
        <form ngForm (ngSubmit)="onSubmit()" class="form" role="form" autocomplete="off">
            <div class="container row no-gutter">
                <div class="form-group col-6">
                    <label for="cc_name">First Name</label>
                    <input type="text" class="form-control" maxlength="40" name="fName"  pattern="\w+ \w+.*" title="First and last name" required [(ngModel)]="customer.fName">
                </div>
                <div class="form-group col-6">
                    <label for="cc_name">Last Name</label>
                    <input type="text" class="form-control" maxlength="40" name="lName"  pattern="\w+ \w+.*" title="First and last name" required [(ngModel)]="customer.lName">
                </div>
            </div>
            <div class="form-group">
                <label for="cc_name">Username</label>
                <input type="text" class="form-control"  maxlength="50" name="username"  pattern="\w+ \w+.*" title="First and last name" required [(ngModel)]="customer.username">
            </div>
            <div class="container row no-gutter">
                <div class="form-group col-6">
                    <label for="cc_name">Password</label>
                    <input type="password" class="form-control"  name="password"  pattern="\w+ \w+.*" title="First and last name" required [(ngModel)]="customer.password">
                </div>
                <div class="form-group col-6">
                    <label for="cc_name">Repeat Password</label>
                    <input type="password" class="form-control" name="passwordCheck"   pattern="\w+ \w+.*" title="First and last name" required="required">
                </div>
            </div>
            
            <div class="form-group">
                <label for="cc_name">Card Holder's Name</label>
                <input type="text" class="form-control" maxlength="80" name="cardHolderName"  pattern="\w+ \w+.*" title="First and last name" required [(ngModel)]="customer.cardHolderName">
            </div>
            <div class="form-group">
                <label>Card Number</label>
                <input type="text"  class="form-control" maxlength="16" name="creditCardNumber" autocomplete="off" title="Credit card number" required [(ngModel)]="customer.creditCardNumber">
            </div>
            <div class="form-group row">
                <label class="col-md-12">Card Exp. Date</label>
                <div class="col-md-4">
                    <select [(ngModel)]="customer.expDate" class="form-control" name="expDate" size="0">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="form-control" name="expYr" size="0">
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>2024</option>
                        <option>2025</option>
                        <option>2026</option>
                        <option>2027</option>
                        <option>2028</option>
                        <option>2029</option>
                        <option>2030</option>
                        <option>2031</option>
                        <option>2032</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" autocomplete="off" maxlength="3" title="Three digits at back of your card" required [(ngModel)]="customer.cvv" name="cvv" placeholder="CVV">
                </div>
            </div>
            <div class="form-inline">
            </div>
            <hr>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-outline btn-lg btn-block">Create Account</button>
                </div>
            </div>
        </form>
    </div>
</div>

</div>