<div class="main ">
    <span class="anchor" id="formPayment"></span>


    <!-- form card cc payment -->
    
    <!-- /form card cc payment -->


<div class="card card-outline-secondary col-lg-6 col-md-7 offset-md-3">
    <div class="card-body">
        <h3 class="text-center">Create Account</h3>
        <hr>
        <form ngForm (ngSubmit)="createAccValidation()" class="form" role="form" autocomplete="off">
            <div class="container row no-gutter">
                <div class="form-group col-6">
                    <label for="cc_name">First Name</label>
                    <input [(ngModel)]="accCreator.firstName" type="text" class="form-control"  name="firstName"  pattern="\w+ \w+.*" title="First and last name" required="required">
                </div>
                <div class="form-group col-6">
                    <label for="cc_name">Last Name</label>
                    <input [(ngModel)]="accCreator.lastName" type="text" class="form-control" name="lastName"  pattern="\w+ \w+.*" title="First and last name" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="cc_name">Account Name</label>
                <input [(ngModel)]="accCreator.accountName" type="text" class="form-control"  name="accountName"  pattern="\w+ \w+.*" title="First and last name" required="required">
            </div>
            <div class="container row no-gutter">
                <div class="form-group col-6">
                    <label for="cc_name">Password</label>
                    <input [(ngModel)]="accCreator.password" type="password" class="form-control"  name="password"  pattern="\w+ \w+.*" title="First and last name" required="required">
                </div>
                <div class="form-group col-6">
                    <label for="cc_name">Repeat Password</label>
                    <input [(ngModel)]="accCreator.passwordCheck" type="password" class="form-control" name="passwordCheck"   pattern="\w+ \w+.*" title="First and last name" required="required">
                </div>
            </div>
            
            <div class="form-group">
                <label for="cc_name">Card Holder's Name</label>
                <input [(ngModel)]="accCreator.cardHoldName" type="text" class="form-control" name="cardHoldeName"  pattern="\w+ \w+.*" title="First and last name" required="required">
            </div>
            <div class="form-group">
                <label>Card Number</label>
                <input [(ngModel)]="accCreator.cardNumber" type="number" min="0" class="form-control" name="cardNumber" autocomplete="off" maxlength="20" pattern="\d{16}" title="Credit card number" required="">
            </div>
            <div class="form-group row">
                <label class="col-md-12">Card Exp. Date</label>
                <div class="col-md-4">
                    <select [(ngModel)]="accCreator.expMo" class="form-control" name="accCreator.expMo" size="0">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select [(ngModel)]="accCreator.expYr" class="form-control" name="accCreator.expYr" size="0">
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>2024</option>
                        <option>2026</option>
                        <option>2027</option>
                        <option>2028</option>
                        <option>2029</option>
                        <option>2030</option>
                        <option>2031</option>
                        <option>2032</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input [(ngModel)]="accCreator.cvv" type="number" min="0" class="form-control" autocomplete="off" maxlength="3" pattern="\d{3}" title="Three digits at back of your card" required="" name="accCreator.cvv" placeholder="CVV">
                </div>
            </div>
            <div class="form-inline">
            </div>
            <hr>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-outline-danger btn-lg btn-block">Create Account</button>
                </div>
            </div>
        </form>
    </div>
</div>

</div>

