<div class="container">
    <div class="card col-lg-3 col-md-5 col-sm-10" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Order: ###</h5>
        <h6 class="card-subtitle mb-2 text-muted">01/01/2020</h6>
        <p class="card-text">Total: $0.00</p>
        <a (click)="viewOrderSum()" class="card-link">View Order Details</a>
        </div>
    </div>
    <div class="card col-lg-3 col-md-5 col-sm-10" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Order: ###</h5>
        <h6 class="card-subtitle mb-2 text-muted">01/01/2020</h6>
        <p class="card-text">Total: $0.00</p>
        <a (click)="viewOrderSum()" class="card-link">View Order Details</a>
        </div>
    </div>
    <div class="card col-lg-3 col-md-5 col-sm-10" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Order: ###</h5>
        <h6 class="card-subtitle mb-2 text-muted">01/01/2020</h6>
        <p class="card-text">Total: $0.00</p>
        <a (click)="viewOrderSum()" class="card-link">View Order Details</a>
        </div>
    </div>
    <div class="card col-lg-3 col-md-5 col-sm-10" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Order: ###</h5>
        <h6 class="card-subtitle mb-2 text-muted">01/01/2020</h6>
        <p class="card-text">Total: $0.00</p>
        <a (click)="viewOrderSum()" class="card-link">View Order Details</a>
        </div>
    </div>
    <div class="card col-lg-3 col-md-5 col-sm-10" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Order: ###</h5>
        <h6 class="card-subtitle mb-2 text-muted">01/01/2020</h6>
        <p class="card-text">Total: $0.00</p>
        <a (click)="viewOrderSum()" class="card-link">View Order Details</a>
        </div>
    </div>
    <div class="card col-lg-3 col-md-5 col-sm-10" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Order: ###</h5>
        <h6 class="card-subtitle mb-2 text-muted">01/01/2020</h6>
        <p class="card-text">Total: $0.00</p>
        <a (click)="viewOrderSum()" class="card-link">View Order Details</a>
        </div>
    </div>
    

</div>

