<h1>Image Credits</h1>
<div class="col-12">
    <h2>Product Images</h2>
    <p>All About the Blues Cheesecake</p>
    <a  href="https://unsplash.com/@moniqa?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Monika Grabkowska">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span>Monika Grabkowska</span>
    </a>
    <br/>

    <p>Oh So Fresh Pie</p>
    <a href="https://unsplash.com/@kimbroughdaniels?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Kim Daniels">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span>Kim Daniels</span>
    </a>
    <br/>
    
    <p>Lemme Have It Tarts</p>
    <a href="https://unsplash.com/@brunabranco?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Bruna Branco">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Bruna Branco</span>
    </a>
    <br/>

    <p>Turtle Cheesecake</p>
    <a href="https://unsplash.com/@agumeniuk?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Aliona Gumeniuk">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Aliona Gumeniuk</span>
    </a>
    <br/>

    <p>Unicorn Cakes, Classic Strawberry Cupcakes</p>
    <a href="https://unsplash.com/@biglaughkitchen?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Deva Williamson">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Deva Williamson</span>
    </a>
    <br/>

    <p>All the Green Pie</p>
    <a href="https://unsplash.com/@luca_ld?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Luca L.D.">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Luca L.D.</span>
    </a>
    <br/>

    <p>Lavendar Ice Dreams</p>
    <a href="https://unsplash.com/@heatherbarnes?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Heather Barnes">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
        </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Heather Barnes</span>
    </a>
    <br/>

    <p>Strawbeery Fool Popsicle, Tripple Biscoff Popsicle, Chocolate Chip Cookiesicle</p>
    <a href="https://unsplash.com/@sheri_silver?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from sheri silver">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">sheri silver</span>
    </a>
    <br/>

    <p>CinnaYum</p>
    <a href="https://unsplash.com/@dilja96?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Dilyara Garifullina">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Dilyara Garifullina</span>
    </a>
    <br/>

    <p>Berry Berry Raspberry Pop</p>
    <a href="https://unsplash.com/@artic_studios?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Daniel Hjalmarsson">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Daniel Hjalmarsson</span>
    </a>
    <br/>

    <p>Cheery Pop</p>
    <a href="https://unsplash.com/@lindsaymoe?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Lindsay Moe">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Lindsay Moe</span>
    </a> 
    <br/>

    <p>Donut Central</p>
    <a href="https://unsplash.com/@nerfee?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Nerfee Mirandilla">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Nerfee Mirandilla</span>
    </a> 
    <br/>

    <p>Chocolate Mocha Pop</p>
    <a href="https://unsplash.com/@savory_spin?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Shashi Charles">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Shashi Charles</span>
    </a> 
    <br/>

    <p>Chocolate Galore Cake</p>
    <a href="https://unsplash.com/@davidholifield?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from David Holifield">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">David Holifield</span>
    </a> 
    <br/>

    <p>Berry Berry Tower Cake</p>
    <a href="https://unsplash.com/@alexagornago?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Alexandra Gornago">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Alexandra Gornago</span>
    </a> 
    <br/>

    <p>Molten Lava Cake</p>
    <a href="https://unsplash.com/@mat_graphik?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Jordane Mathieu">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Jordane Mathieu</span>
    </a>
    <br/>


    <h2>Home Page Images</h2>
    <p>Cinnamon Buns</p>
    <a href="https://unsplash.com/@otto_norin?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Otto Norin">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Otto Norin</span>
    </a>
    <br/>

    <p>Original Receipes</p>
    <a href="https://unsplash.com/@hambourine?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Hamish Duncan">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Hamish Duncan</span>
    </a>
    <br/>

    <p>Freshest Ingredients</p>
    <a href="https://unsplash.com/@nicksarr1?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Nick Sarro">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Nick Sarro</span>
    </a>
    <br/>

    <p>Quality Service</p>
    <a href="https://unsplash.com/@themephotos?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Theme Photos">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Theme Photos</span>
    </a>
    <br/>

    <p>Jessica</p>
    <a href="https://unsplash.com/@armedshutter?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Ayo Ogunseinde">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Ayo Ogunseinde</span>
    </a>
    <br/>

    <p>Devon</p>
    <a href="https://unsplash.com/@philipegd?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Philipe Cavalcante">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Philipe Cavalcante</span>
    </a>
    <br/>

    <p>Brittney</p>
    <a href="https://unsplash.com/@michaeldam?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Michael Dam">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Michael Dam</span>
    </a>
    <br/>



    <h2>Product Category Images</h2>
    <p>Pastry Button</p>
    <a href="https://unsplash.com/@rodlong?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Rod Long">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Rod Long</span>
    </a>
    <br/>

    <p>Pie Button</p>
    <a href="https://unsplash.com/@brookelark?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Brooke Lark">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Brooke Lark</span>
    </a>
    <br/>

    <p>Cake Button</p>
    <a href="https://unsplash.com/@happychan?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Hanh Nguyen">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Hanh Nguyen</span>
    </a>
    <br/>

    <p>All Button, Frozen Button</p>
    <a href="https://unsplash.com/@foodess?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Food Photographer | Jennifer Pallian">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Food Photographer | Jennifer Pallian</span>
    </a>
    <br/>




    <h2>Cover Images</h2>
    <p>Catering</p>
    <a href="https://unsplash.com/@brookelark?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Brooke Lark">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Brooke Lark</span>
    </a>
    <br/>

    <p>Login Page</p>
    <a href="https://unsplash.com/@louishansel?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Louis Hansel @shotsoflouis">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Louis Hansel @shotsoflouis</span>
    </a>
    <br/>

    <p>Signup Page</p>
    <a href="https://unsplash.com/@alexanderkondratiev?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Alex Kondratiev">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
        </svg>
        </span>
        <span style="display:inline-block;padding:2px 3px">Alex Kondratiev</span>
    </a>
    <br/>

</div>

