<section class="intro container col-12">
    <h1 class="slogan">all you knead is a little rush</h1>
    <button (click)="viewProducts()" type="button" class="btn btn-outline">Order Desserts</button>
</section>

<section class="value container col-12">
    <div class="biz-val col-lg-3 col-md-4 col-sm-10">
        <img class="img-fluid" src="https://rush-p2.s3.us-east-2.amazonaws.com/upload/other/receipe.jpg" alt="...">
        <h3 class="val-title">Original Receipes</h3>
        <p class="val-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nam varius urna a dolor aliquet sagittis. Mauris accum.</p>
    </div>
 
    <div class="biz-val col-lg-3 col-md-4 col-sm-10">
        <img class="img-fluid" src="https://rush-p2.s3.us-east-2.amazonaws.com/upload/other/ingred.jpg" alt="...">
        <h3 class="val-title">Freshest Ingredients</h3>
        <p class="val-text">Nam pellentesque ante libero, a aliquet magna sodales ac. 
            Elementum rhoncus nulla. Phasellus dapibus sapien.</p>
    </div>

    <div class="biz-val col-lg-3 col-md-4 col-sm-10">
        <img class="img-fluid" src="https://rush-p2.s3.us-east-2.amazonaws.com/upload/other/service.jpg" alt="...">
        <h3 class="val-title">Quality Service</h3>
        <p class="val-text">Mauris vitae ligula cursus, rhoncus mauris vel, mollis sem.
                Nullam mauris nulla, lacinia ac turpis ac. Nec urna luctus.
        </p>
    </div>
</section>


<section class="about">
    <div class="content col-10">
        <h2>About Rush</h2>
        <p>Nunc tellus ante, imperdiet vel odio condimentum, rutrum fermentum neque. 
            Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis 
            in faucibus. Vestibulum a bibendum dolor, eget hendrerit velit. Ut vitae 
            ipsum et tortor semper venenatis. Nam pharetra, diam nec luctus lobortis, 
            tortor risus feugiat tortor, sed aliquam nisi enim non mauris.
        </p>

        <p>Curabitur consequat enim eu viverra malesuada. In consequat nec arcu vitae 
            ultricies. Etiam ornare volutpat mauris eget molestie. Curabitur quis justo 
            turpis. Nullam rutrum eget elit id molestie. Aenean et laoreet nulla, eu 
            tincidunt risus. Mauris et interdum massa, a ornare mauris. Donec fringilla 
            nunc ex, vel egestas leo eleifend eget.
        </p>

        <p>Curabitur consequat enim eu viverra malesuada. In consequat nec arcu vitae 
            ultricies. Etiam ornare volutpat mauris eget molestie. Curabitur quis justo 
            turpis. Nullam rutrum eget elit id molestie. Aenean et laoreet nulla, eu 
            tincidunt risus. Mauris et interdum massa, a ornare mauris. Donec fringilla 
            nunc ex, vel egestas leo eleifend eget.
        </p>
    </div>
</section>

<section class="reviews col-10">
    <h2 class="review">Reviews</h2>
    <div id="carouselExampleControls" class="carousel slide col-12" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="testInfo col-lg-5 col-md-7 col-sm-9">
                <img class="custImg" src="https://rush-p2.s3.us-east-2.amazonaws.com/upload/other/girl1.jpg">
                <h3>Jessica Hamilton</h3>
                <p>“If you have never been to the world famous Rush dessert shop, 
                    stop what you are doing and go. They have a large selection of specialty desserts made to order
                    with the freshest ingredients. Best desserts of my life!”
                </p>
                <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>								
                </div>	
            </div> 
          </div>
          <div class="carousel-item">
            <div class="testInfo col-lg-5 col-md-7 col-sm-9">
                <img class="custImg" src="https://rush-p2.s3.us-east-2.amazonaws.com/upload/other/guy1.jpg">
                <h3>Devon Howard</h3>
                <p>“Rush has something for everyone. There selection is enclusive of everyone's dietary needs. My Favorite
                     is their dairy-free lavendar ice cream. I no longer have to feel as if I am missing out 
                     on desserts.”
                </p>
                <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>								
                </div>	 
            </div>
          </div>
          <div class="carousel-item">
            <div class="testInfo col-lg-5 col-md-7 col-sm-9">
                <img class="custImg" src="https://rush-p2.s3.us-east-2.amazonaws.com/upload/other/girl2.jpg">
                <h3>Brittney Jones</h3>
                <p>“I had Rush cater for a work event that I threw and EVERYONE fell in love. The staff is so friendly,
                    and make sure that all of your needs are met. Their desserts are tasty, fresh, and light.”
                </p>
                <div class="star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>								
                </div>	 
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</section>
