<section class="intro container col-12">
    <h1>all you knead is a little rush</h1>
    <button (click)="viewProducts()" type="button" class="btn">Order Desserts</button>
</section>

<section class="value container col-10">
    <div class="biz-val col-4">
        <img src="../../../assets/imgs/receipe.jpg" alt="...">
        <h3 class="val-title">Original Receipes</h3>
        <p class="val-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nam varius urna a dolor aliquet sagittis. Mauris accum.</p>
    </div>
 
    <div class="biz-val col-4">
        <img src="../../../assets/imgs/ingred.jpg" alt="...">
        <h3 class="val-title">Freshest Ingredients</h3>
        <p class="val-text">Nam pellentesque ante libero, a aliquet magna sodales ac. 
            Elementum rhoncus nulla. Phasellus dapibus sapien.</p>
    </div>

    <div class="biz-val col-4">
        <img src="../../../assets/imgs/service.jpg" alt="...">
        <h3 class="val-title">Quality Service</h3>
        <p class="val-text">Mauris vitae ligula cursus, rhoncus mauris vel, mollis sem.
                Nullam mauris nulla, lacinia ac turpis ac. Nec urna luctus.
        </p>
    </div>
</section>


<section class="about">
    <div class="content col-10">
        <h2>About Rush</h2>
        <p>Nunc tellus ante, imperdiet vel odio condimentum, rutrum fermentum neque. 
            Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis 
            in faucibus. Vestibulum a bibendum dolor, eget hendrerit velit. Ut vitae 
            ipsum et tortor semper venenatis. Nam pharetra, diam nec luctus lobortis, 
            tortor risus feugiat tortor, sed aliquam nisi enim non mauris.
        </p>

        <p>Curabitur consequat enim eu viverra malesuada. In consequat nec arcu vitae 
            ultricies. Etiam ornare volutpat mauris eget molestie. Curabitur quis justo 
            turpis. Nullam rutrum eget elit id molestie. Aenean et laoreet nulla, eu 
            tincidunt risus. Mauris et interdum massa, a ornare mauris. Donec fringilla 
            nunc ex, vel egestas leo eleifend eget.
        </p>
    </div>
</section>