.container{
    display: flex;
    flex-direction: row;
    
}

.row.no-gutter{
    margin-right: 0;
    margin-left: 0;
}

.cartItems, .ordSum{
    margin: 20px;
}

.nav-link{
    margin: 20px;
    color: #FF893D;
}

