<a (click)="viewProducts()" routerLink="products" routerLinkActive="active" class="nav-link">◄ Continue Shopping</a>

<div class="container row no-gutter col-12" >
   
    <p *ngIf= "cartEmpty" class="cartEmpty col-lg-6 col-md-9 col-sm-12">You have no items in your cart</p>
    <div *ngFor="let orderItem of cart" class="cartItems col-lg-6 col-md-9 col-sm-12">
        <div class="container main">
            <img src={{orderItem.product.imgUrl}} class="img-fluid col-3" alt="...">
            <div class="info container">
              <h5 class="card-title">{{ orderItem.product.productName }}</h5>
              <div class="container details">
                <h6 class="card-title">Qty:</h6>
                <button type="button" (click)="subQty(orderItem)" class="btn">-</button>
                  <p>{{orderItem.qty}}</p>

                <button type="button" (click)="addQty(orderItem)" class="btn">+</button>    
                <h6 class="card-title">{{orderItem.product.productPrice*orderItem.qty | currency }}</h6>
                <button type="button" (click)="removeItem(orderItem)" class=" btn btn-outline">x</button>
              </div>
            </div>  
          </div>
    </div>


    <div class="col-sm-12 col-lg-3 ordSum" id="orderSum">
        <h1>Order Summary</h1>
        <p>Subtotal: {{subtotal | currency }}</p>
        <p>Tax: {{subtotal * .07 | currency }} </p>
        <p>Total: {{subtotal + subtotal *.07  | currency }} </p>
        <button type="button" (click)="submitOrder()" class="btn btn-outline-success">Checkout</button>
    </div>
    <!-- <app-cart-order-summary class="col-sm-12 col-lg-3 ordSum"></app-cart-order-summary> -->
</div>