<a (click)="viewProducts()" routerLink="products" routerLinkActive="active" class="nav-link">◄ Continue Shopping</a>

<div class="container row no-gutter col-12" >
    <div class="cartItems col-lg-6 col-md-9 col-sm-12">
        <app-product-cart></app-product-cart>
        <app-product-cart></app-product-cart>
        <app-product-cart></app-product-cart>
        <app-product-cart></app-product-cart>
    </div>
    <app-cart-order-summary class="col-sm-12 col-lg-3 ordSum"></app-cart-order-summary>
</div>