<footer class="">
    <div class="container col-12">
        <section class="info col-lg-3 col-md-5 col-sm-11">
            <h3>Contact Info</h3>
            <ul class="">
                <li class="">
                    <span class="">Address:</span>
                    <span class="">34 Street Name, City Name Here, United States</span></li>
                <li class=""><span class="">Telephone:</span><span class="">+1 242 4942 290</span></li>
                <li class=""><span class="">Email:</span><span class="">info@yourdomain.com</span></li>
            </ul>
        </section>
        
        <section class="hours col-lg-3 col-md-5 col-sm-11">
            <h3>Opening Hours</h3>
            <p>Sunday-Thursday 5AM - 10PM</p>
        </section>
        
        <section class="links col-lg-3 col-md-5 col-sm-11">
            <h3>Quick Links</h3>
            <ul>
                <li><a routerLink="home">Home</a></li>
                <li><a routerLink="catering"> Catering</a></li>
                <li><a routerLink=""> Contact</a></li>
                <li><a routerLink="">Credits</a></li>
            </ul>
        </section>
  </div>
  <p class="copy col-8">Copyright &copy; 2020 All rights reserved</p>
</footer>
