<footer class="">
    <div class="container col-12">
        <section class="info col-lg-3 col-md-5 col-sm-11">
            <h3>Contact Info</h3>
            <ul class="">
                <p> 
                <li class="">
                    <span class="">Address:</span></li>
                
                    <li class=""><span class=""> 100 Grand Lane, Sugar Land, Texas, 77469</span></li>
                </p>   
                <p>
                    <li class=""><span class="">Telephone:</span></li>
                        <li><span class=""> +1 242 4942 290</span></li>
                </p>
                <li class=""><span class="">Email:</span></li>
                    <li><span class=""> RushSweets@rush.com</span></li>

            </ul>
        </section>
        
        <section class="hours col-lg-3 col-md-5 col-sm-11">
            <h3>Opening Hours</h3>
            <p>Sunday-Thursday 7AM - 10PM</p>
            <p>Friday 7AM - 6PM</p>
            <p>Saturday Closed</p>
        </section>
        
        <section class="links col-lg-3 col-md-5 col-sm-11">
            <h3>Quick Links</h3>
            <ul>
                <li><a routerLink="home">Home</a></li>
                <li><a routerLink="catering"> Catering</a></li>
                <li><a routerLink=""> Contact</a></li>
                <li><a routerLink="">Credits</a></li>
            </ul>
        </section>
  </div>
  <p class="copy col-8">Copyright &copy; 2020 All rights reserved</p>
</footer>
