body{
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

.btn-outline-danger{
    border-color: #FF893D;
    color: #FF893D;
}

.btn-outline-danger:hover{
    background-color: #FF893D;
    border-color: #FF893D;
    color: #fff;
}