<div class="card mb-auto d-flex bd-highlight" style="max-width: 650px;">
    <div class="row no-gutters">
      <div class="p-2 flex-fill bd-highlight">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="p-2 flex-fill bd-highlight">
        <div class="card-body">
          <h5 class="card-title">Cake Pop</h5>
          <p class="card-text">Cake pops are tasty!</p>
        </div>
      </div>
        <div class="p-2 flex-fill bd-highlight">
            <div class="card-body">
                <h6 class="card-title">Quantity</h6>
            </div>
        </div>
        <div class="p-2 flex-fill bd-highlight">
            <div class="card-body">
                <h6 class="card-title">$0.00</h6>
            </div>
        </div>
        <div class="p-2 flex-fill bd-highlight">
            <div class="card-body">
                <button type="button" class="btn btn-outline-danger">Remove</button>
            </div>
        </div>
    </div>
</div>
